[Unit]
Description=Gunicorn process for serving AirBnB Clone v4
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment="HBNB_MYSQL_USER=hbnb_dev"
Environment="HBNB_MYSQL_PWD=hbnb_dev_pwd"
Environment="HBNB_MYSQL_HOST=localhost"
Environment="HBNB_MYSQL_DB=hbnb_dev_db"
Environment="HBNB_TYPE_STORAGE=db"
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStartPre=/bin/mkdir -p /tmp
ExecStartPre=/bin/chown ubuntu:ubuntu /tmp/airbnb-access.log /tmp/airbnb-error.log
ExecStart=/usr/bin/gunicorn -w 3 -b 127.0.0.1:5003 web_dynamic.2-hbnb:app
StandardOutput=/tmp/airbnb-access.log
StandardError=/tmp/airbnb-error.log
PermissionsStartOnly=true
Restart=always

[Install]
WantedBy=multi-user.target
